
h4 {margin: 0; padding-left: 4px;}



/**************************** Nav Section *************************/

  .nav-item.nav-selectors {
    padding-left: 1rem;
  }
  
  .nav-item.nav-checkout {
    padding: 0;
  }

  .navbar.navbar-dark {
    z-index: 2;
    padding: 0% 7% 0% 7%;
  }
  
  .nav-link {
      font-size: 0.9rem;
      font-family: 'Montserrat', 'Monsieur La Doulaise';
      font-weight: 300;
  }
  
  .navbar-brand {

    font-size: 0.9rem;
    letter-spacing: 0.2em;

    display: flex;
    align-items: center;
  }
  
  .navbar-dark .navbar-brand {color: rgb(255, 255, 255);}

  .navbar-dark .navbar-brand:hover {color: rgb(255, 255, 255);}

  
  .navbar-dark .navbar-nav .nav-link {color: rgb(255, 255, 255);}
  
  .navbar-dark .navbar-nav .nav-link:defined {color: rgb(255, 255, 255);}

  .navbar-dark .navbar-nav .nav-link:hover {color: rgba(233, 230, 230, 0.7);}

  
  .logo {
    width: 125px;
  }


  .navbar-dark .navbar-toggler-icon {
    background-image: url("/Images/menu\ \(1\).svg")
  }

  .navbar-toggler.collapsed {
    padding: 0;
  }


  /**************************** Body Section *************************/

  .bodycolor {
    background-color: darkgrey;
  }